/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}
/*IMAGES*/
.avatar {
  width: 150px;
  border-radius: 50%;
}

/*Buttons*/
.btn-cv {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-top: 32px;
  margin-bottom: 20px;
}

.btn-cv:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}


/*Big Stuff: Containers, Banners, etc.*/

.page-header {
  padding-top: 150px;
  padding: 150px 50px 0px 0px;
  width: 30%;
  height: 100vh;
  text-align: right;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1504293538349-0be9a181d474?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80);
  background-size: cover;
  background-position: center;
  color: white;
  position: fixed;
  top: 0;
}

.page-header h1 {
  font-size: 30px;
}
.page-header h3 {
  font-size: 20px;
  color: white;
  opacity: 0.5;
}

/* FOOTER ON DESKTOP VERSION */
.desktop-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.desktop-footer a {
  color: white;
}

.desktop-footer i {
  font-size: 25px;
  padding: 0px 13px;
}

.desktop-footer i:hover {
  color: #A7FFF6;
}

/*CONTENT OF THE PAGE*/
.page-content {
  height: 150vh;
  width: 70%;
  margin-left: 30vw;
}

.large-container {
  padding: 6em 3em 3em 3em;
}

/*CONTENT SECTIONS */

.content-section {
  border-bottom: 2px solid rgba(200,200,200,0.5);
  padding: 50px 0;
}

.content-section h1, h2, h3 {
  color: #787878;
}

.content-section h1 {
  font-size: 32px;
}

.content-section h3 {
  font-size: 24px;
}

.content-section p {
  color: #a2a2a2;
}

/* PROJECTS */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.project-picture {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 1em;
  margin-bottom: 15px;
  text-align: center;
}


.hidden-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin: 15px 15px;

}

.hidden-buttons {
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  border-radius: 1em;
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5));
}

.project-picture:hover .hidden-buttons {
  display: inline-block;
}

.hidden-btn:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}


.grid-item {
}

/*The Whole flipping card CSS for SKILLS */
.grid-container-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.maincontainer {
  position: relative;
  width: 100%;
  height: 125px;
  border-radius: 15px;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  border-radius: 15px;
}

.maincontainer:hover .thecard {
  transform: rotateY(180deg);
}
.maincontainer:hover .thefront {
  -webkit-backface-visibility: hidden;
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thefront i {
  font-size: 50px;
  color: rgb(70,70,70);
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: rgb(70,70,70);
  border-radius: 15px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.theback p {
  color: white;
  margin: 12px 0;
}

.back-content p {
  text-align: center;
  margin: 3px 0;
}



/* Media Queries for Phone Responsiveness */
